<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome" />
	<parameter name="hub_host" value="selenium-hub"/>
	<listeners>
		<listener class-name="com.qa.test.utils.ExtentReporterNG" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.qa.test.testcases.TicketBookingTest" />
		</classes>
	</test>
</suite>
